infra/.terraform/**
infra/.terraform.tfstate.lock.info
infra/.terraform.tfstate.lock.hcl
docs/*.log
docs/*.aux
docs/*.idx
docs/*.glo
docs/*.fdb_latexmk
docs/*.fls
docs/*.lot
docs/*.toc
docs/*.lof
docs/*.synctex.gz
*.retry
infra/*.lock.hcl
roles/cloudalchemy*
inventory/inventory.ini